$primary: #ff953a;
$darkgray: #222222;
$midgray: #414141;
$gray: #888888;
$white: #ffffff;
$text: 0.16rem;
$side: 6vw;
$font: "Montserrat", sans-serif;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// ヒーロー:矢印
.hero {
  background: {
    image: url(../img/cafe.jpg);
    position: center;
    size: cover;
    color: $darkgray;
  }
  @include flex(center, center, row);
  position: relative;
  &::after {
    content: url(../img/arrow.svg);
    display: block;
    width: $text;
    padding: 0.18rem 0.15rem 0.1rem;
    border-radius: 50% 50% 0 0;
    background-color: $white;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  @media (min-width: 768px) {
    justify-content: flex-end;
    &::after {
      width: 0.31rem;
      padding: 0.35rem 0.31rem 0.16rem;
    }
    h1 {
      width: 50%;
      text-align: center;
    }
  }
}

html,
body,
.hero {
  height: 100%;
}

body {
  overflow-y: scroll;
}

/*ヘッダー*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  @include flex(space-between, center, row);
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding-left: $side;
  padding-right: $side;
}

.site img {
  width: 1.25rem;
  @media (min-width: 768px) {
    width: 2.26rem;
  }
}

/*ナビゲーションボタン*/
.nav-button {
  box-sizing: content-box;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 29px;
  height: 20px;
  cursor: pointer;
  color: $white;
  &::before,
  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
    transform: translateY(10px);
    transition: 0.3s ease-in-out;
  }
  &::before {
    transform: translateY(-10px);
    box-shadow: 0 10px currentColor;
  }
}

@media (max-width: 767px) {
  /*ナビゲーションボタン (閉じるボタン)*/
  .open .nav-button {
    z-index: 1000;
    &::before {
      transform: rotate(-45deg);
      box-shadow: none;
    }
    &::after {
      transform: rotate(45deg);
      box-shadow: none;
    }
  }
}

// ナビゲーションメニュー:(開いた状態)
.open html,
.open body {
  height: 100%;
  overflow: hidden;
}

.open .header {
  position: relative;
  margin-bottom: -100px;
}

.open .nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  color: $white;
  @include flex(center, center, row);
  ul {
    margin-bottom: 10vh;
    list-style: none;
  }
  // last-child以外に適用
  li:not(:last-child) {
    margin-bottom: 20px;
  }
}

/*!ナビゲーションメニュー (閉じた状態)*/
//openクラスがない場合に適用
.nav {
  width: 0;
  height: 0;
  position: absolute;
  left: 100%;
  overflow: hidden;
  color: transparent;
  transition: 0.5s ease-in-out;
}

/*ナビゲーションメニュー(PC)*/
@media (min-width: 768px) {
  .nav-button {
    display: none;
  }
  .nav {
    position: relative;
    left: auto;
    width: auto;
    height: auto;
    ul {
      display: flex;
      list-style: none;
      color: $white;
      li:not(:first-child) {
        margin-left: 0.55rem;
      }
    }
  }
}

/*----------------コンテンツ---------------*/

/* コンテナ */
.container {
  padding: 0.68rem $side;
  h2 {
    font-family: $font;
    font-size: 0.26rem;
    letter-spacing: 0.179em;
    line-height: 1;
  }
  &.hours h2 {
    letter-spacing: 0;
  }
  &.info h2 img {
    width: 2.44rem;
  }
  &.menu h2,
  &.news h2,
  &.hours h2 {
    + p {
      font-size: 0.13rem;
    }
  }
  @media (min-width: 768px) {
    &.menu,
    &.news {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    h2 {
      font-size: 0.42rem;
    }
    &.hours h2 {
      font-size: 0.32rem;
    }
    &.menu h2,
    &.news h2,
    &.hours h2 {
      + p {
        font-size: 0.2rem;
      }
    }
    &.menu h2,
    &.news h2 {
      &::after {
        width: 0.85rem;
        margin-top: 0.23rem;
        margin-bottom: 0.14rem;
      }
    }
  }
  &.info h2 + p {
    color: $midgray;
    font-weight: bold;
    letter-spacing: 0.516em;
  }
  &.menu h2,
  &.news h2,
  &.hours h2 {
    &::after {
      content: "";
      display: block;
      width: 0.56rem;
      height: 4px;
      margin-top: 0.17rem;
      margin-bottom: 0.1rem;
      background-color: $primary;
    }
  }
  &.hours h2::after {
    width: 0.28rem;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Food & Drink*/

// Food & Drink: 基本
.item {
  margin-top: 0.64rem;
  h3 {
    margin-bottom:0.19rem;
    color: $midgray;
    font-size: 0.16rem;
    line-height: 1;
    @include flex(flex-start, center, row);
    &::before {
      content: url(../img/mark.svg);
      display: block;
      width: 0.4rem;
      margin-right: 0.1rem;
    }
  }
  p {
    margin-bottom: 0.16rem;
    font-size: 0.14rem;
  }
}

// Food & Drink:テキストの横幅と配置
.item {
  &.text {
    width: (285 / 375) * 100vw;
  }
  &.plate {
    .text {
      margin-left: auto;
    }
    h3 {
      flex-direction: row-reverse;
      &::before {
        margin-left: 0.1rem;
        margin-right: 0;
      }
    }
  }
}

// Food & Drink: 画像の横幅と配置
.item {
  .photo {
    margin: 0 ($side * -1);
    display: flex;
    align-items: flex-end;
  }
  &.cafe {
    .fig1 {
      flex: 1 1 auto;
      margin-right: -0.47rem;
      margin-bottom: 0.38rem;
    }
    .fig2 {
      flex: 0 0 round((160 / 375) * 100vw);
      img {
        height: 1.56rem;
      }
    }
  }
  &.plate .fig1 {
    flex: 0 0 (321 / 375 * 100vw);
  }
  &.sweet {
    .fig1 {
      flex: 1 1 auto;
      margin-right: -0.26rem;
      margin-bottom: 0.38rem;
    }
    .fig2 {
      flex: 0 0 56.2vw;
    }
    img {
      height: 2rem;
    }
  }
  img {
    width: 100%;
    max-height: 2rem;
    object-fit: cover;
  }
  // PCレイアウト
  @media (min-width: 768px) {
    margin-top: 1rem;
    h3 {
      margin-bottom: 0.22rem;
      font-size: 0.25rem;
      &::before {
        width: 0.48rem;
      }
    }
    p {
      font-size: 0.16rem;
    }
    // テキストと画像の配置
    display: flex;
    .text {
      flex: 0 0 3.12rem;
      margin-right: 0.49rem;
    }
    .photo {
      flex: 1 1 auto;
      margin: 0;
    }
    img {
      max-height: none;
    }
    //テキストと画像の配置: カフェ 
    &.cafe {
      margin-left: $side * 2;
      margin-right: $side * -1;
      .fig1 {
        margin-right: -0.88rem;
        margin-bottom: 1.11rem;
      }
      .fig2 {
        flex: 0 0 auto;
        width: calc(6vw * 3 + 0.88rem);
      }
      .fig1 img {
        height: 3.3rem;
      }
      .fig2 img {
        height: 3rem;
      }
      .text {
        align-self: flex-end;
      }
      p {
        margin-bottom: 0.73rem;
      }
      h3 {
        margin-left: -0.58rem;
      }
    }
    //テキストと画像の配置: プレート
    &.plate {
      flex-direction: row-reverse;
      margin-left: $side * -1;
      margin-right: $side * 1;
      .text {
        margin-right: 0;
        margin-left: 0.49rem;
      }
      .photo {
        display: block;
      }
      .fig1 img{
        height: 3.95rem;
      }
      h3 {
        margin-right: -0.58rem;
      }
    }
    //テキストと画像の配置: スイーツ 
    &.sweet {
      margin-left: $side * 2;
      margin-right: $side * -1;
      .fig1 {
        margin: 0;
      }
      .fig2 {
        flex: 0 0 4.69rem;
      }
      img {
        height: 3.04rem;
      }
      h3 {
        margin-left: -0.58rem;
      }
    }
  }
}

// Food & Drink: イラスト
.item {
  .text {
    position: relative;
    z-index: 2
  }
  .photo {
    position: relative;
  }
  &.cafe .photo::after {
    content: url(../img/cafe.svg);
    display: block;
    width: 28vw;
    position: absolute;
    top: -12vw;
    right: 12vw;
    opacity: 0.8;
  }
  @media (min-width: 768px) {
    &.cafe .photo::after {
      width: 2rem;
      top: auto;
      right: auto;
      bottom: 0.12rem;
      left: -0.85rem;
    }
  }
  &.plate .photo::after {
    content: url(../img/plate.svg);
    display: block;
    width: 30vw;
    position: absolute;
    top: -14vw;
    left: 1.3vw;
    opacity: 0.8;
  }
  @media (min-width: 768px) {
    &.plate .photo::after {
      width: 2rem;
      top: 1.21rem;
      right: -1.48rem;
      left: auto;
    }
  }
  &.sweet .photo::after {
    content: url(../img/sweet.svg);
    display: block;
    width: 32vw;
    position: absolute;
    top: -12vw;
    right: 9vw;
    opacity: 0.8;
  }
  @media (min-width: 768px) {
    &.sweet .photo::after {
      width: 2.27rem;
      top: 1.11rem;
      right: auto;
      left: -1.68rem;
    }
  }
}

// Food & Drink: タイトル
@media (min-width: 768px) {
  .menu-inner {
    position: relative;
    .item.cafe {
      margin-top: 0;
    }
    .menu-title {
      position: absolute;
      top: 0.13rem;
      left: 0;
    }
  }
}


/*What's New */
.news {
  background: {
    image: url(../img/texture.jpg);
    repeat: repeat;
  }
}

/* Hours */
.hours {
  background: {
    image: url(../img/shop.jpg);
    position: center;
    size: cover;
  }
  color: $white;
  text-align: center;
}

/* カフェ情報 */
.info {
  background-color: $primary;
  text-align: center;
}

/* フッター */
.footer {
  height: 89px;
  background-color: $darkgray;
  color: $white;
  @include flex(center, center, row);
}
